<% if @patients.blank? %>
<p>There are not any patients currently in the system.</p>
<% else %>
<p>These are the current patients in our system</p>

<ul id = "patients">
   <% @patients.each do |patient| %>
   <li>
   <%= link_to patient.first_name, {action: :show, id: patient.id} -%>
   <b> <%= link_to 'Edit', {action: :edit, id: patient.id} %></b>
   <b> <%= link_to "Delete", {action: :delete, id: patient.id},data: {confirm: "Are you sure?"}%></b>
   </li>
   <% end %>
</ul>

<% end %>
<p><%= link_to "Add new Patient", {action: :new }%></p>