
<div class="section-parallax h-100 py-5 opaque-overlay" style="background-image: url('https://singularityhub.com/wp-content/uploads/2018/07/healthcare_shutterstock_277918613-1068x601.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <h2 class="text-left text-white">Patient's <%= @patient.first_name %> doctors:</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2 class="display-5">&nbsp</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <% if @doctors.blank? %>
            <h2 class='display-5 text-white'> There are no doctors assigned for this patient</h2>
          <%else%>
          <div class="list-group text-left">
            <% @doctors.each do |doctor|%>
            <div class="row text-center">
            <div class="col-md-6 text-center">
            <b> <%= link_to doctor.full_name, {controller: :doctors,action: :show, id: doctor.id, back_to: :patients, patient_id: @patient.id}, class: "list-group-item list-group-item-action" %></b>
            </div>
            <% if current_user.admin%>
            <div class="col-md-6 text-right">
            <b> <%= link_to 'Unassign doctor', {controller: :patients, action: :delete_doctors, doctor_id: doctor.id},data: {confirm: "Are you sure?"} %></b>
            </div>
            <%end%>
          </div>
            <% end -%>
          </div>
          <%end-%>
        </div>
        <div class="col-md-6"></div>
      </div>
      <div class="row">
        <div class="col-md-12">
       <h2 class="display-5">&nbsp</h2>   
    </div>
        </div>
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6 text-center">
          <%= link_to '<button class="btn btn-primary" href="#" >Back</button>'.html_safe, {action: :list}  %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-left ml-5">
          <h2 class="display-5">&nbsp</h2>
        </div>
      </div>
    </div>
  
